body {
  margin: 0;
  padding: 0;
}

/*Стили для таблицы*/
.table {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2rem;
}

/*Стили для колонтитула таблицы*/
.MuiDataGrid-columnHeader {
  font-weight: bold;
  background-color: #009999;
  color: white;
  white-space: normal;
  word-wrap: break-word !important;
  line-height: 1.2;
}

/*Стили для колонок*/
.MuiDataGrid-cell {
  white-space: normal;
  word-wrap: break-word;
  min-width: 150px;
  border-right: 1px solid #ddd;
}

/*Стили для строк таблицы*/
/*Стили для нечетных строк*/
.MuiDataGrid-row:nth-child(odd) {
  background-color: #f5f5f5;
}

/*Стили для четных строк*/
.MuiDataGrid-row:nth-child(even) {
  background-color: white;
}

/*Стили для колонок таблицы при просмотре на телефоне*/
@media (max-width: 600px) {
  .MuiDataGrid-cell {
    white-space: normal;
    word-wrap: break-word;
    min-width: 150px;
  }

  .MuiDataGrid-columnHeader {
    white-space: normal;
    word-wrap: break-word !important;
    line-height: 1.2;
  }
}